<div id='movement'>
  <%= render partial: 'movements/form_movement' %>
</div>

<hr>
<div id='transfer'>
  <%= render partial: 'movements/form_movement' %>
</div>

<hr>
  <%= render partial: 'account_movements' %>